.homeBox {
  width: 100%;
  background: #f0f0f0;
  overflow: hidden;
  .kong{
    width: 100%;
    height: 0.57rem;
    background: #f0f0f0;
  }
  .ant-carousel{
    width: 100%;
    height: 9rem;
    .slick-slide {
      width: 100%;
      text-align: center;
      height: 9rem;
      overflow: hidden;
      img{
        display: block;
        width: 100%;
        height: 9.1rem;
      }
    }
  }
  .whyLearn{
    width: 100%;
    margin-top: 1.2rem;
    .whyLearnHead{
      width: 100%;
      height: 0.72rem;
      line-height: 0.72rem;
      text-align: center;
      h2{
        display: inline-block;
        font-size: 0.28rem;
        font-weight: bold;
        text-align: center;
        height: 0.72rem;
        line-height: 0.72rem;
        color: @primary-color;
      }
      .anticon anticon-deployment-unit{
        font-size: 0.36rem;
        margin: auto;
        height: 0.72rem;
      }
    }
    .whyLearnIntroduce{
      width: 71%;
      margin: 0.1rem auto 0;
      font-size: 0.22rem;
      color: @primary-color;
    }
  }
  .whyLearnContent{
    margin-top: 0.3rem;
    .whylearnPicBox{
      margin-top: 0.3rem;
      transition: transform .35s ease,box-shadow .35s ease;
      .whylearnPic1{
        width: 4.8rem;
        height: 3rem;
        margin: 0 auto;
        background: url(../../style/home/wy1.png) no-repeat;
        background-size: contain;
        background-size:100% 100%;
        border-radius: 0.04rem;
        border-color: #d9d9d9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        transition: transform .35s ease,box-shadow .35s ease;
        &:hover{
          box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
          transform: translateY(-.1rem);
        }
      }
      .whylearnPic2{
        width: 4.8rem;
        height: 3rem;
        margin: 0 auto;
        background: url(../../style/home/wy3.png) no-repeat;
        background-size: contain;
        background-size:100% 100%;
        border-radius: 0.04rem;
        border-color: #d9d9d9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        transition: transform .35s ease,box-shadow .35s ease;
        &:hover{
          box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
          transform: translateY(-.1rem);
        }
      }
      .whylearnPic3{
        width: 4.8rem;
        height: 3rem;
        margin: 0 auto;
        background: url(../../style/home/wy4.png) no-repeat;
        background-size: contain;
        background-size:100% 100%;
        border-radius: 0.04rem;
        border-color: #d9d9d9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        transition: transform .35s ease,box-shadow .35s ease;
        &:hover{
          box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
          transform: translateY(-.1rem);
        }
      }
      .whylearnPic4{
        width: 4.8rem;
        height: 3rem;
        margin: 0 auto;
        background: url(../../style/home/wy2.png) no-repeat;
        background-size: contain;
        background-size:100% 100%;
        border-radius: 0.04rem;
        border-color: #d9d9d9;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        transition: transform .35s ease,box-shadow .35s ease;
        &:hover{
          box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);
          transform: translateY(-.1rem);
        }
      }
      .whylearnPicText{
        .text1{
          color: @primary-color;
          font-size: 0.2rem;
          height: 0.2rem;
          text-align: center;
        }
        .text2{
          color: @text-color;
          font-size: 0.16rem;
          text-align: center;
        }
        .text3{
          color: @text-color;
          font-size: 0.16rem;
          text-align: left;
        }
        .text4{
          padding: 0 0.6rem;
          color: @text-color;
          font-size: 0.16rem;
          text-align: center;
        }
      }
    }
  }
}
