.homeBox {
  width: 100%;
  background: #f0f0f0;
  overflow: hidden;
  .kong{
    height: 0.57rem;
    background: #f0f0f0;
  }
  .ant-carousel{
    width: 100%;
  }
  .ant-carousel .slick-slide {
    width: 100%;
    text-align: center;
    height: 5.5rem;
    line-height: 5.5rem;
    background: #788396;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
